<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="{{ site.author }}">
    <meta name="theme-color" content="#340D82">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <title>{{ page.title }}</title>

    <!-- Open Graph / Social -->
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="{{ site.url }}/img/drum_icon.png">
    <meta property="og:image:width" content="512">
    <meta property="og:image:height" content="512">
    <meta property="og:locale" content="en_US">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="{{ site.url }}/img/drum_icon.png">
    <meta name="twitter:site" content="@DrumDashApp">

    <link rel="icon" type="image/x-icon" href="img/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
    <link rel="alternate" type="application/rss+xml" title="DrumDash Blog" href="{{ site.url }}/feed.xml">
    <link rel="stylesheet" href="assets/css/base.css">
    <link rel="stylesheet" href="assets/css/play.css">
    <link rel="stylesheet" href="TemplateData/style.css">
</head>
<body class="play-page">
    <div class="bg-overlay"></div>

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

    <script src="assets/js/nav.js"></script>
    <script src="assets/js/affiliate-ads.js"></script>
</body>
</html>